@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body::-webkit-scrollbar {
  display: none; /*chrome*/
}

:root {
  --color-1: #00d5ff;
  --color-2: #8f22bb;
  --color-3: #999999;
  --color-4: #222222;
  --color-5: #2dba4e;
  --color-6: #2b3137;
  --color-7: #c5f5ba;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none; /*firefox*/
  scrollbar-width: none; /*edge*/
  overflow: hidden;
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.App {
  height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-x: hidden; */
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

.turret-road-extralight {
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* ----------SPLASH PAGE------------ */
.App-header {
  position: absolute;
  top: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

.User-info {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 80%;
  font-family: "Doto", sans-serif;
  font-size: 2.5vh;
  color: white;
  text-align: left;
}

.Hover-area {
  position: absolute;
  bottom: 5%;
  left: 33%;
  width: 33%;
  height: 22%;
  filter: blur(70px);
  background-image: linear-gradient(120deg, #6f0099 34%, #00d5ff 100%);
  opacity: 0.3;
  transition: opacity 1.2s;
  border-radius: 100px;
  cursor: pointer;
}

.Hover-area:hover {
  opacity: 0.5;
}

/* ----------NAVIGATION PAGE------------ */

.Text-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  /* background-image: radial-gradient(#e5e7eb 1px, transparent 1px); */
  background-image: radial-gradient(var(--color-3) 1px, transparent 1px);
  background-size: 11vh 11vh;
  z-index: 90;
}

.Header-container {
  width: 33%;
  text-align: center;
  border-bottom: 0.2vh solid var(--color-3);
  border-radius: 8.5vh;
  border-top: 0.1vh solid var(--color-3);
}

.Header {
  font-family: "Space Mono", sans-serif;
  font-size: 2.5vh;
  position: relative;
  display: inline-block;
}

.Header::after {
  content: "";
  position: absolute;
  left: -1.3vw;
  right: -1.3vw;
  bottom: -0.8vh;
  height: 0.5vh;
  opacity: 1;
  border-radius: 0.5vh;
  background-color: var(--color-2);
}

.Github-stats {
  text-decoration: none;
  font-family: "Space Mono", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5vh;
  border: 0.2vh solid var(--color-5);
  opacity: 0.8;
  width: 80%;
  height: 80%;
  background-color: var(--color-4);
  box-shadow: 0 0 10px var(--color-5);
  position: relative;
  display: block;
  transition-property:
    -moz-filter,
    -ms-filter,
    -o-filter,
    -webkit-filter,
    filter ease-in-out,
    box-shadow ease-in-out;
  transition-duration: 1.0s;
}

.Github-stats:hover {
  box-shadow: 0 0 20px var(--color-5);
  filter: brightness(1.2);
}

.GH-subsection {
  background-color: var(--color-6);
  color: white;
  font-family: inherit;
  text-decoration: none;
  font-size: 2vh;
  text-align: left;
  box-shadow: 0 0 10px black;
  border-radius: 0.5vh;
  margin: 2vh;
  margin-bottom: 1.5vh;
  display: flex;
  vertical-align: top;
  text-wrap: pretty;
}

.GH-rectangle {
  width: 90%;
  height: 10%;
}

.GH-rectangle2 {
  width: 90%;
  height: 40%;
  text-align: center;
  display: inline-block;
  margin-top: 1.2vh;
}

.GH-rectangle3 {
  width: 90%;
  height: 40%;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}

.GH-text {
  font-family: "Space Mono", sans-serif;
  font-size: 1.8vh;
  color: var(--color-7);
  position: relative;
  bottom: 0.8vh;
}

.GH-links {
  font-family: "Space Mono", sans-serif;
  font-size: 1.8vh;
  color: var(--color-5);
  position: relative;
  bottom: 0.8vh;
}
.GH-links:hover {
  color: var(--color-1);
}

.GH-icon {
  margin-right: 1vh;
  width: 3vh;
  height: 3vh;
}

.GH-icon::after {
  content: "";
  position: absolute;
  left: -1.3vw;
  right: -1.3vw;
  bottom: -0.8vh;
  height: 0.5vh;
  opacity: 1;
  border-radius: 0.5vh;
  background-color: var(--color-2);
}

.Profile-pic {
  border-radius: 100%;
  height: 11vh;
  width: 11vh;
  border: 0.3vh solid var(--color-5);
  margin: 1vh;
}

.Profile-pic-2 {
  display: flex;
  position: relative;
  left: 10%;
  margin-top: 3vh;
  margin-left: 1vh;
  height: 23vh;
  width: 24vh;
  /* border: 0.3vh solid var(--color-5); */
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
}

.About-text{
  font-family: "Space Mono", sans-serif;
  font-size: 1.7vh;
  position: relative;
  bottom: 0.8vh;
  width: 95%;
  left: 1vh;
  top: 2%;
  text-wrap: pretty;
  text-align: center;
}


.GH-list {
  font-family: "Space Mono", sans-serif;
  font-size: 2vh;
  position: relative;
  padding-left: 1vh;
}

.GH-list li {
  margin-top: 2vh;
  font-family: "Space Mono", sans-serif;
  list-style-type: none;
  text-align: left;
}

.GH-list li::before {
  content: "★";
  position: relative;
  bottom: 0.8vh;
  color: var(--color-3);
}

.GH-list a {
  color: inherit;
  text-decoration: none;
}


.List {
  font-family: "Space Mono", sans-serif;
  padding-left: 7vh;
  text-align: left;
  list-style: square;
}

.List li {
  font-family: "Space Mono", sans-serif;
  list-style-type: none;
  font-size: 2.5vh;
  text-align: left;
}

.List li::before {
  content: "►";
  position: relative;
  color: var(--color-2);
}

.List a {
  color: inherit;
  text-decoration: none;
}

.List a:hover {
  color: var(--color-1);
}

.About-table {
  font-family: "Space Mono", sans-serif;
  text-align: left;
  position: relative;
  padding-left: 5vh;
  font-size: 1.5vh;
}

th {
  padding-right: 3vh;
  font-size: 2vh;
}

td {
  font-size: 1.5vh;
}

