
.App {
  height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* example for rendering text harmoniously with three js */
.App-header {
  position: absolute;
  top: 20%;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}
